<div class="detail-all">
  <div class="title-show">
    <h2><p><%= @book.title %></p></h2>
  </div>

  <div class="detail">
    <div class="book-picture-show">
          <%= image_tag @book.image_url, size: "252x356.4" if @book.image? %>
    </div>
    <div class="exprain">
      映画化：<%= @book.movie %><br>
      出版年：<%= @book.year %><br>
      あらすじ:<p>&emsp;<%= @book.story %></p>
      <div class="yonda-or-yomitai">
        <div class="yonda">
          <% if user_signed_in? %>
            <% if current_user.already_liked?(@book) %>
              <%= link_to book_like_path(@book), method: :delete do %>
                「読んだ」を取り消す：<%= @book.likes.count %>
            <% end %>
            <% else %>
              <%= link_to book_likes_path(@book), method: :post do %>
                読んだ：<%= @book.likes.count %>
            <% end %>
            <% end %>
            <% else %>
              <p>「読んだ」の数 = <%= @book.likes.count %></p>
          <% end %>
        <% if user_signed_in? %>
          <% if current_user.admin==true %> 
            <%= link_to "編集する", edit_book_path(@book.id) %>
          <% end %>
        <% end %>
        </div>
        <div class="yomitai">
          <% if user_signed_in? %>
            <% if current_user.already_wanted?(@book) %>
              <%= link_to book_want_path(@book), method: :delete do %>
                「読んでみたい」を取り消す：<%= @book.wants.count %>
              <% end %>
            <% else %>
              <%= link_to book_wants_path(@book), method: :post do %>
                読んでみたい：<%= @book.wants.count %>
              <% end %>
            <% end %>
          <% else %>
            <p>「読んでみたい」の数 = <%= @book.wants.count %></p>
          <% end %>
        <% if user_signed_in? %>
          <% if current_user.admin==true %>
          <%= link_to "編集する", edit_book_path(@book.id) %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="user-show">
    <div class="read"> 
      <h3>読んだユーザー</h3>
      <% @book.liked_users.each do |user| %>
        <li>・<%= user.name %></li>
      <% end %>
    </div>

    <div class="want">
      <h3>読んでみたいユーザー</h3>
      <% @book.wanted_users.each do |user| %>
        <li>・<%= user.name %></li>
      <% end %>
    </div>

    <div class="comment-wrapper">
      <h3>コメント一覧</h3>
      <% @comments.each do |c| %>
        <div>
          <%= c.user.name unless c.user.blank? %>:<%= c.content %>
        </div>
      <%= button_to "削除する", book_comment_path(c.id), method: :delete %>
      <% end %>

      <% if user_signed_in? %>
        <%= form_with(model: [@book, @comment], local: true) do |f| %>
          <%= f.text_area :content %>
          <%= button_tag type: "submit" do %>
            <i class="far fa-comments"></i> コメントする
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>